.Brand {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.Brand_box {
  width: 80%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 5rem;
  align-items: center;
}

.Brand_box_left h1 {
  font-size: 5rem;
  line-height: 1.3;
  font-weight: bolder;
}

.Brand_box_left p {
  font-size: 1.3rem;
}

.Brand_box_left_btn {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}

.Brand_box_right {
  width: 50vw;
}

.Brand_box_right img {
  width: 500px;
  height: 400px;
}

@media screen and (max-width: 1024px) {
  .Brand_box_left h1 {
    line-height: 1.1;
  }
}
@media screen and (max-width: 900px) {
  .Brand_box_right {
    width: 45vw;
  }
}

@media screen and (max-width: 768px) {
  .Brand_box {
    grid-template-columns: 1fr;
  }

  .Brand_box_left h1 {
    font-size: 2.5rem;
  }
  .Brand_box_left p {
    margin-top: 0.5rem;
  }

  .Brand_box_right img {
    width: 500px;
    height: 400px;
  }
}
@media screen and (max-width: 550px) {
  .Brand_box {
    grid-template-columns: 1fr;
  }

  .Brand_box_left h1 {
    font-size: 2.5rem;
  }
  .Brand_box_left p {
    margin-top: 0.5rem;
  }

  .Brand_box_right img {
    width: 300px;
    height: 200px;
  }
}
