.box {
  margin-top: 2rem;
}

.box textarea {
  width: 100%;
  background-color: transparent;
  outline: none;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid var(--icons-color);
}

.box label {
  display: block;
  width: 100%;
  margin-left: 1rem;
  font-weight: 700;
  font-size: 1.3rem;
}
