.profile {
  position: absolute;
  padding: 0.5rem;
  padding-bottom: 1rem;
  box-shadow: var(--box-shadow);
  font-size: 1rem;
  width: 20rem;
  border-radius: 1rem;
  left: -17rem;
  z-index: 100000000;
  background-color: var(--main-bg-color);
}

.profile_account {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 1.5rem;
}

.profile_account_img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.profile_account_info {
  padding-top: 5%;
  line-height: 1;
  overflow: hidden;
}

.profile_account_info p {
  font-weight: 600;
}

.profile_menu_one_item {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 1.5rem;
  transition: all 0.3s ease-in;
}

.profile_menu_one_item:hover {
  background-color: var(--icons-color);
  color: var(--shadow-dark-color);
  border-radius: 0.3rem;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .profile {
    width: 18rem;
    left: -15rem;
  }
}
